.container {
    max-width: 500px;
}
h2 {
    margin-bottom: 30px;
}
a {
    color: var(--main) !important;
    cursor: pointer;
}
a:hover {
    color: var(--main_dark) !important;
}
.btn-primary {
    color: white !important;
    background: #04603A 0% 0% no-repeat padding-box !important;
    box-shadow: 3px 3px 6px #00000080;
    border-radius: 40px;
    opacity: 1;
    border: none !important;
}
.btn-primary:hover {
    color: white !important;
    background: #033d29 !important;
    box-shadow: 3px 3px 6px #00000080;
    border-radius: 40px;
    opacity: 1;
    border: none !important;
}
.btn-primary:active {
    color: white !important;
    background: #022d1f !important;
    box-shadow: 3px 3px 6px #00000080 !important;
    border-radius: 40px !important;
    opacity: 1 !important;
    border: none !important;
}