<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>Roomify - אודות</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      direction: rtl;
      text-align: center;
      margin: 20px;
    }
    header {
      margin-bottom: 20px;
    }
 
    .logo {
      max-width: 200px; /* adjust the max-width to resize the logo */
      height: auto;
      margin: 20px auto;
      display: block;
    }
    .about-text {
      max-width: 800px;
      margin: 0 auto;
      text-align: right;
      line-height: 1.6;
      font-size: 16px;
    }
  </style>
</head>
<body>
  <header>
    <h1>ברוכים הבאים ל-Roomify!</h1>
    <h3>פרויקט של כפיר ושחף</h3>
  </header>
  
  
  <section class="logo-section">
    <img src="/assets/images/RoomifyLogo.jpg" alt="לוגו Roomify" class="logo">
  </section>
  
  <section class="about-text">
    <p>
      Roomify היא מערכת לניהול חדרים במסגרת מוסדות חינוך, שתוכננה לייעל את ניהול השיעורים, החדרים והמשאבים החינוכיים. המערכת מציעה פתרון יעיל לניהול חדרי לימוד, תיאום שיעורים וניהול פעילויות בצורה מסודרת ואינטואיטיבית.
    </p>
    <p>
      הפלטפורמה מאפשרת למורים, תלמידים וצוותי ניהול לתכנן ולבצע פעילויות תוך אופטימיזציה של השימוש בחדרים ובמשאבים נוספים כגון ציוד טכנולוגי, מחשבים ולוחות, ובכך לשפר את חווית הלמידה והניהול.
    </p>
  </section>
</body>
</html>
