<h1>Welcome to Roomify!</p>
<h3>This is Kfir's and Shahaf's project</p>
<img src="male.jpg" alt="Kfir & Shahaf">
<img src="male.jpg" alt="Kfir & Shahaf">
<p>Roomify</p>
<div>
    היא מערכת לניהול חדרים במסגרות לימודיות, שתוכננה כדי לייעל את ניהול השיעורים, החדרים והמשאבים במוסדות חינוך. המערכת מספקת פתרון לניהול חדרי לימוד, תיאום זמני שיעורים, וניהול של פעילויות חינוכיות בצורה יעילה ומסודרת.
    המערכת מאפשרת למורים, תלמידים וצוותי ניהול לתכנן ולבצע את הפעילויות החינוכיות בצורה טובה יותר, תוך אופטימיזציה של השימוש בחדרים ובמשאבים נוספים, כמו ציוד טכנולוגי, מחשבים, לוחות ועוד. המערכת מספקת פלטפורמה לניהול הזמנות של חדרים ושיעורים, תוך שמירה על גמישות והתאמה לצורכי המשתמשים.
</div>

