.container {
    max-width: 500px;
}
h2 {
    margin-bottom: 30px;
}
button {
    color: white;
    background: #528B87;
    border: #528B87;
}
button:hover {
    background: #033d29;
    color: white;
    border: 2px solid #033d29;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(4, 96, 58, 0.4);
}
