<div class="container">
  <div class="title">
    <h1>ברוכים הבאים ל-Roomify</h1>
    <h3>הפרויקט של כפיר ושחף</h3>
  </div>

  <div class="logo-section">
    <img src="/assets/images/RoomifyLogo.jpg" alt="לוגו Roomify" class="logo">
  </div>

  <div class="about-text">
    <p>
      Roomify היא מערכת לניהול חדרים במסגרת מוסדות חינוך, שתוכננה לייעל את ניהול השיעורים, החדרים והמשאבים החינוכיים.
      המערכת מציעה פתרון יעיל לניהול חדרי לימוד, תיאום שיעורים וניהול פעילויות בצורה מסודרת ואינטואיטיבית.
    </p>
    <p>
      הפלטפורמה מאפשרת למורים, תלמידים וצוותי ניהול לתכנן ולבצע פעילויות תוך אופטימיזציה של השימוש בחדרים ובמשאבים
      נוספים כגון ציוד טכנולוגי, מחשבים ולוחות, ובכך לשפר את חווית הלמידה והניהול.
    </p>
  </div>
</div>