<div class="container">
  <div class="hero-section">
    <div class="title">
      <h1>Welcome to Roomify</h1>
      <h3>A Project by Kfir Graidi and Shahaf Goren</h3>
    </div>

    <div class="logo-section">
      <img src="assets/images/RoomifyLogo (small).jpg" alt="Roomify Logo" class="logo">
    </div>
  </div>

  <div class="about-section">
    <div class="about-text">
      <h2>Smart Room Management for Educational Institutions</h2>
      <p>
        Roomify is an innovative room management system designed specifically for educational institutions, 
        streamlining the management of classes, rooms, and educational resources. Our platform provides 
        an efficient solution for classroom management, lesson coordination, and activity planning in an 
        organized and intuitive manner.
      </p>
      <p>
        The platform empowers teachers, students, and administrative staff to plan and execute activities 
        while optimizing the use of rooms and additional resources such as technological equipment, computers, 
        and interactive boards, thereby enhancing the learning and management experience.
      </p>
    </div>
  </div>
</div>