<div class="wrapper">
    <div class="footer">
        <p>
            Kfir Graidi - <span>kfirgraidi&#64;gmail.com</span> &nbsp;&nbsp;
            Shahaf Goren - <span>shahafgoren1&#64;gmail.com</span>
        </p>
        <div class="socials">
            <a href="https://www.instagram.com/"><img src="/assets/images/socials/instagram.png"></a>
            <a href="https://www.facebook.com/"><img src="/assets/images/socials/facebook.png"></a>
            <a href="https://www.x.com/"><img src="/assets/images/socials/twitter.png"></a>
        </div>
    </div>
</div>
