<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-info">
            <div class="footer-text">
                <p class="footer-single-line">© 2025 Roomify - Made with ❤️ by Kfir Graidi & Shahaf Goren</p>
            </div>
            <div class="footer-right">
                <div class="footer-links">
                    <a target="_blank" href="https://github.com/K19G/Roomify/" class="github-link" title="GitHub Repository">
                        <img src="/assets/images/socials/github.jpg" alt="GitHub" class="github-image">
                    </a>
                </div>
                <!-- Back to Top Btn -->
                <button class="back-to-top-btn" (click)="scrollToTop()" title="Back to Top">
                    <span class="arrow-up">↑</span>
                </button>
            </div>
        </div>
    </div>
</footer>
