<div class="container">
    <div>
        <a *ngIf="isLoggedIn" class="nav-item nav-link active" routerLink="/messages">Send Message</a>
        <a *ngIf="isLoggedIn && !isStudent" class="nav-item nav-link active" routerLink="/create-ticket">Create a Ticket</a>
    </div><br><br>
    <div *ngIf="isLoggedIn && !isStudent">
        <a class="nav-item nav-link active" routerLink="/view-rooms">Order Room</a>
        <a *ngIf="isTeacher || isAdmin" class="nav-item nav-link active" routerLink="/room-search">Room Search</a>
    </div><br><br>
    <div *ngIf="isAdmin">
        <a class="nav-item nav-link active" routerLink="/rooms">Room Management</a>
        <a class="nav-item nav-link active" routerLink="/register-users">Register Users</a>
        <a class="nav-item nav-link active" routerLink="/auditorium-schedule">Auditorium Schedule</a>
        <a class="nav-item nav-link active" routerLink="/time-schedule">Assign Time Schedule</a>
        <a class="nav-item nav-link active" routerLink="/classroom-exchange">Classroom Exchange</a>
    </div><br><br>
    <div>
        <a *ngIf="isMaintenancePerson || isAdmin" class="nav-item nav-link active" routerLink="/tickets">Ticket Management</a>
    </div><br><br>
</div>